raw.zip
*.pyc
raw/
raw_by_site/
raw_zipped/
raw_zipped_test/
clean_listings/
clean_categories/
clean_vendors/
aggregate_vendors/
combined_market/
extract_data_listings/
raw_zipped_test.zip
aggregate_listings/
*.log
*.zip
*.RData
*.Rhistory
